# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Uploads
uploads/

# Node
node_modules/
.next/
out/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Logs
*.log
.qwen